@model IEnumerable<TipoCuenta>


@{
    ViewData["Title"] = "Tipos de Cuentas";
}


<h1>@ViewData["Title"]</h1>

<h5>
    El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejemplo: Prestamos, Tarjetas de Credito etc.
</h5>


<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>


<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>

    <tbody id="reordenable">
        @foreach (var TipoCuenta in Model)
        {
            <tr>
                <td>
                    <input type="hidden" value="@TipoCuenta.Id" class="ids" />
                    <a asp-action="Editar" asp-route-id="@TipoCuenta.Id" class="btn btn-sm btn-secondary">Editar</a>
                    <a asp-action="Borrar" asp-route-id="@TipoCuenta.Id" class="btn btn-sm btn-danger">Borrar</a>
                </td>
                <td>@TipoCuenta.Nombre</td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>
        const urlOrdenar = '@Url.Action("ordenar")';

        $(function () {
            // Inicialización de Sortable
            $("#reordenable").sortable({
                stop: async function (e, ui) {
                    await actualizarOrdenes();
                }
            });

            // Función principal para coordinar la actualización
            async function actualizarOrdenes() {
                const ids = obtenerIdsDeElementos();
                await enviarIdsAlBackEnd(ids);
            }

            // Captura los valores de los inputs con clase .ids
            function obtenerIdsDeElementos() {
                return $(".ids").map(function () {
                    return $(this).val();
                }).get();
            }

            // Envía la información al controlador
            async function enviarIdsAlBackEnd(ids) {
                const data = JSON.stringify(ids);

                try {
                    const response = await fetch(urlOrdenar, {
                        method: 'POST',
                        body: data,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (!response.ok) {
                        console.error("Error en la respuesta del servidor");
                    }
                } catch (error) {
                    console.error("Error al enviar los datos:", error);
                }
            }
        });
    </script>
}

